<div>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
    <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Acerca de mí</h2>
  </div>
  <div>
    <p class="mb-4 text-justify">
      Soy un desarrollador Front-End con experiencia en la creación de interfaces accesibles y de alto rendimiento.
      Aunque mi especialidad está en el desarrollo Front-End, con un enfoque fuerte en tecnologías como Angular y React, también tengo un
      sólido conocimiento en el backend, trabajando con tecnologías como Java y Spring. A lo largo de mi carrera, he trabajado en la creación
      de APIs y gestionado bases de datos, lo que me ha permitido tener una visión completa del ciclo de desarrollo de aplicaciones web.
    </p>
    <p class="mb-4 text-justify">
      Mi pasión radica en la integración entre el diseño y la ingeniería, desarrollando soluciones que no solo sean visualmente atractivas,
      sino que también ofrezcan una experiencia de usuario intuitiva y accesible. Disfruto enfrentando desafíos técnicos y buscando
      soluciones innovadoras que optimicen el rendimiento y la accesibilidad en cada proyecto en el que trabajo.
    </p>
  </div>
</div>
