<div>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
    <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Experiencia laboral</h2>
  </div>
  <div>
    <ol class="group/list">
      <li class="mb-12">
        <div
          class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
          <header
            class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
            aria-label="2022 to Present">Nov 2022 — Presente
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-slate-200">
              <div>
                <a
                  href="https://www.indracompany.com/"
                  target="_blank"
                  class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base"
                  rel="noreferrer noopener"
                  aria-label="Senior Frontend Engineer, Accessibility at Klaviyo (opens in a new tab)">
                                            <span
                                              class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block">
                                            </span>
                                            <span>Analista Desarrollador ·
                                            <span class="inline-block">INDRA PERU S.A
                                                        <svg
                                                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                          fill="currentColor"
                                                          class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                                          aria-hidden="true">
                                                            <path fill-rule="evenodd"
                                                                  d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                                                  clip-rule="evenodd">
                                                            </path>
                                                        </svg>
                                            </span>
                                            </span>
                </a>
              </div>
              <div>
                <div class="text-slate-500" aria-hidden="true">Jornada completa</div>
                <div>
                  <div class="text-slate-500" aria-hidden="true">España</div>
                </div>
              </div>
            </h3>
            <p class="mt-2 text-sm leading-normal text-justify">Trabajé en el desarrollo de
              aplicaciones web y móviles,
              utilizando tecnologías modernas para crear soluciones funcionales y eficientes.
              Colaboré en proyectos enfocados en diseño, desarrollo y gestión de datos,
              asegurando calidad y rendimiento en cada entrega. Mi experiencia incluye herramientas y metodologías
              que permiten un trabajo colaborativo y organizado en equipo.</p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">Angular
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">Java
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">Ionic
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">SQL server
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mb-12">
        <div
          class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
          <header
            class="z-10 mb-2 mt-1 text-xs font-semibold tracking-wide uppercase text-slate-500 sm:col-span-2"
            aria-label="2022 to 2022">Ago 2022—Nov 2022
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-slate-200">
              <div><a
                href="https://confianza.pe/"
                target="_blank"
                class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base"
                rel="noreferrer noopener"
                aria-label="Lead Engineer at Upstatement (opens in a new tab)"><span
                class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span><span>Software Engineer ·
                                                    <span class="inline-block">Financiera Confianza S.A.A <svg
                                                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                      fill="currentColor"
                                                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                                      aria-hidden="true"><path fill-rule="evenodd"
                                                                               d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                                                               clip-rule="evenodd"></path></svg></span></span></a>
              </div>
              <div>
                <div class="text-slate-500" aria-hidden="true">Perú</div>
              </div>
            </h3>
            <p class="mt-2 text-sm leading-normal text-justify">
              Trabajé en el desarrollo de aplicaciones móviles utilizando herramientas modernas,
              enfocándome en crear experiencias visuales atractivas y funcionales. Participé en
              proyectos relacionados con el flujo de créditos, asegurando que las soluciones fueran
              eficientes y fáciles de usar. También colaboré en la gestión de versiones, despliegues
              y mejora continua para mantener la calidad y el rendimiento del producto.</p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">JavaScript
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">HTML &amp; SCSS
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">Ionic
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">Angular
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mb-12">
        <div
          class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
          <header
            class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
            aria-label="July to December 2017">ENE 2021—AGO 2022
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-slate-200">
              <div><a
                href="https://pe.nttdata.com/"
                target="_blank"
                class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base"
                rel="noreferrer noopener"
                aria-label="UI Engineer Co-op at Apple (opens in a new tab)"><span
                class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span><span>Frontend Web Developer ·
                                                    <span class="inline-block">NTT DATA Europe & LATAM <svg
                                                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                      fill="currentColor"
                                                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                                      aria-hidden="true"><path fill-rule="evenodd"
                                                                               d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                                                               clip-rule="evenodd"></path></svg></span></span></a>
              </div>
              <div>
                <div class="text-slate-500" aria-hidden="true">Perú</div>
              </div>
            </h3>
            <p class="mt-2 text-sm leading-normal text-justify">
              Trabajé en el desarrollo de aplicaciones web, utilizando herramientas modernas para crear
              interfaces dinámicas y eficientes. Colaboré en el diseño de estilos personalizados según
              los requerimientos del cliente y en la gestión de versiones y despliegues para asegurar
              una transición fluida a producción.</p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">Javascript
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">Angular
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">MongoDB
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">HTML &amp; SCSS
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mb-12">
        <div
          class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
          <header
            class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
            aria-label="2016 to 2017">Ene 2020—DIC 2020
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-slate-200">
              <div><a
                href="https://segurindustria.pe/"
                target="_blank"
                class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base"
                rel="noreferrer noopener"
                aria-label="Developer at Scout Studio (opens in a new tab)"><span
                class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span><span>
                                                    Programador de sistemas ·
                                                    <span class="inline-block">SEGURINDUSTRIA, S.A. DE C.V. (SEGUSA)<svg
                                                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                      fill="currentColor"
                                                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                                      aria-hidden="true"><path fill-rule="evenodd"
                                                                               d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                                                               clip-rule="evenodd"></path></svg></span></span></a>
              </div>
              <div>
                <div class="text-slate-500" aria-hidden="true">Perú</div>
              </div>
            </h3>
            <p class="mt-2 text-sm leading-normal text-justify">
              Participé en el desarrollo y mantenimiento de sistemas relacionados con la gestión de asistencia y viáticos, asegurando su funcionalidad y eficiencia. Trabajé en la creación de interfaces atractivas y fáciles de usar, además de gestionar bases de datos para garantizar un manejo confiable de la información.</p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">ASP. NET Web Api
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">Angular
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">DB2
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">SQL server
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mb-12">
        <div
          class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
          <header
            class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
            aria-label="July to December 2016">Feb 2019 — Dic 2019
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-slate-200">
              <div><a
                href="https://www.novumsystemcompany.com/web/"
                target="_blank"
                class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base"
                rel="noreferrer noopener"
                aria-label="Software Engineer Co-op at Starry (opens in a new tab)"><span
                class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span><span>Analista de programación ·
                                                    <span class="inline-block">Novum System Consulting<svg
                                                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                      fill="currentColor"
                                                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                                      aria-hidden="true"><path fill-rule="evenodd"
                                                                               d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                                                               clip-rule="evenodd"></path></svg></span></span></a>
              </div>
              <div>
                <div class="text-slate-500" aria-hidden="true">Perú</div>
              </div>
            </h3>
            <p class="mt-2 text-sm leading-normal text-justify">
              Llevé a cabo el análisis, rediseño y desarrollo de un sistema de ventas comerciales,
              creando una aplicación funcional y eficiente. Diseñé la interfaz para mejorar la experiencia
              del usuario y gestioné bases de datos para garantizar un manejo adecuado de la información.
              También me encargué de la generación de archivos requeridos por Sunat y de la publicación
              del proyecto en servidores contratados por los clientes.</p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">Angular
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">PHP
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">MySQL
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mb-12">
        <div
          class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
          <header
            class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
            aria-label="July to December 2015">Ene 2018 — Ene 2019
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-slate-200">
              <div><a
                class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base"
                rel="noreferrer noopener"
                aria-label="Creative Technologist Co-op at MullenLowe U.S. (opens in a new tab)"><span
                class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span><span>Programador de sistemas ·
                                                    <span class="inline-block">DELTRANEXT<svg
                                                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                      fill="currentColor"
                                                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                                      aria-hidden="true"><path fill-rule="evenodd"
                                                                               d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                                                               clip-rule="evenodd"></path></svg></span></span></a>
              </div>
              <div>
                <div class="text-slate-500" aria-hidden="true">Freelancer</div>
              </div>
              <div>
                <div class="text-slate-500" aria-hidden="true">Perú</div>
              </div>
            </h3>
            <p class="mt-2 text-sm leading-normal text-justify">
              Trabajé en el desarrollo de aplicaciones web, mejorando la experiencia del usuario con interfaces atractivas y funcionales.
              Gestioné bases de datos para asegurar un manejo eficiente de la información y participé en la implementación de proyectos
              en servidores locales, garantizando su correcto funcionamiento.</p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">HTML
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">CSS
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">Angular
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">JavaScript
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">SonarQuabe
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ol>
    <div class="mt-12">
      <a
      class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 font-semibold text-slate-200 group/link text-base"
      (click)="openPdfModal()" rel="noreferrer noopener"
      aria-label="View Full Résumé (opens in a new tab)">
        <span>Ver CV
          <span class="inline-block">
             <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20" fill="currentColor"
                                        class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                                        aria-hidden="true">
                  <path fill-rule="evenodd"  d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path>
             </svg>
           </span>
        </span>
      </a>
    </div>
  </div>
</div>
